<h3 class="page-header">Available Experiments</h3>
<p>Welcome Admin {{name}}! Please select the lab of your interest to proceed.</p>

<div class="table-responsive col-md-8">
	<p><button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addExperiment">Add Experiment</button></p>
	<br><br>
	<div class="modal fade" id="addExperiment" role="dialog">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	        	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Add new Experiment</h4>
			     </div>
			     <div class="modal-body">
			     	<form role="form" action="/labs/addExperiment" method="POST">
			     		<div class="input-group">
					      <span class="input-group-addon">Title</span>
					      <input type="text" class="form-control" name="title" required>
					    </div><br>
					    <div class="input-group">
					      <span class="input-group-addon">Category</span>
					      <input type="text" class="form-control" name="category" required>
					    </div><br>
					    <div class="input-group">
					      <span class="input-group-addon">Data URL</span>
					      <input type="text" class="form-control" name="url" required>
					    </div><br>
	                    <button class="btn btn-sm btn-primary" type="submit">Add</button>
					</form>
			     </div>
	        </div>
	    </div>
	</div>
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Title</th>
	      <th>Category</th>
	    </tr>
	  </thead>
	  <tbody>
	  {{# each items }} <!--open each block-->
	    <tr>
	      <td>{{this.no}}</td><!--Not used anymore, parameter doesnt exist in database, now just creates a first column-->
	      <td><a href="labs/title/{{this.title}}">{{this.title}}</a></td><!--Display title and when clicked pass the title to create a unique url for each lab-->
	      <td>{{this.category}}</td><!--display category-->
	      <td>
            <form method="POST" action="/labs/details">
                <input type="hidden" name="lab" value="{{this._id}}">
                <button type="submit" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
            </form>
          </td>
		<td>
			<form method="POST" action="/labs/delete" onsubmit="return confirm('Are you sure you want to delete?')">
                <input type="hidden" name="lab" value="{{this._id}}">
                <button type="submit" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
			</form></td>
	    </tr>
	    {{/each}} <!--close each block-->
	  </tbody>
	</table>
</div>